<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.il/idc/lang/Jack" 
       class = "il.ac.idc.lang.jack.JackPackage"
       genModel = "model/generated/Jack.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           name="Hack"
           delegate="il.ac.idc.lang.launching.HackLaunchConfigurationDelegate"
           modes="run, debug"
           id="il.ac.idc.lang.launching.Hack">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           name="Hack VM"
           delegate="il.ac.idc.lang.launching.HackVMLaunchConfigurationDelegate"
           modes="run, debug"
           id="il.ac.idc.lang.launching.Hack.vm">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           name="Jack Compiler"
           delegate="il.ac.idc.lang.launching.JackCompilerLaunchConfigurationDelegate"
           modes="run"
           id="il.ac.idc.lang.launching.Jack.compiler">
     </launchConfigurationType>
  </extension>

</plugin>
